<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>
    <h1>Cupcakes!</h1>
    <ul id="cupcakes-list">

    </ul>

    <h2>Add a new cupcake</h2>
    <form class="form-group" id="new-cupcake-form">
        <div>
            <label for="form-flavor">Flavor: </label>
            <input class="form-control" name="flavor" id="form-flavor">
        </div>


        <div>
            <label for="form-size">Size: </label>
            <input class="form-control" name="size" id="form-size">
        </div>

        <div>
            <label for="form-rating">Rating: </label>
            <input class="form-control" type="number" name="rating" id="form-rating">
        </div>

        <div>
            <label for="form-image">Image: </label>
            <input class="form-control" name="image" id="form-image">
        </div>

        <button>Add!</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
        integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/static/cupcakes.js"></script>

</body>

</html>